
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
  
  .slider:before {
    position: absolute;
    content: url("../assets/grid.svg");
    color: white;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-color);
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:checked + .slider:before {
    color: white;
    content: url("../assets/list.svg");
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on {
    display: none;
  }
  
  .on,
  .off {
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-weight: bold;
  }
  
  input:checked + .slider .on {
    display: block;
  }
  
  input:checked + .slider .off {
    display: none;
  }
  
  .slider.round {
    border-radius: 4px;
  }
  
  .slider.round:before {
    border-radius: 4px;
  }
  